# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# UV and Ruff
uv.lock
.ruff_cache/
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/contentModel.xml
